@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

:root {
  --gray-1: #f8fafb;
  --gray-2: #f2f4f6;
  --gray-3: #e8ecef;
  --gray-4: #98a9bc;
  --gray-5: #778ca2;
  --gray-6: #424242;
  --gray-7: #212121;
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(80px); /* Viene desde más abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(-20px); /* Se coloca un poco más arriba */
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1.2s ease-out forwards;
}

@media (max-width: 768px) {
  .mobile\:mt-8 {
    margin-top: 2rem; /* Ajuste para que el texto esté más arriba en móviles */
  }
}
